<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script>
 new WOW().init();
</script>

<div class="header">
	<div class="container">
		<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
				<div class="logo">
					<a class="navbar-brand" href="/">Chè Cô Hương</a>
				</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				<nav class="cl-effect-13" id="cl-effect-13">
					<ul class="nav navbar-nav">
						<!-- <li><a href="/" class="active">Home</a></li> -->
					</ul>
				</nav>
				<div class="social-icons">
					<ul>
						<li><a class="icon-link round facebook" href="#"></a></li>
						<li><a class="icon-link round p" href="#"></a></li>
						<li><a class="icon-link round twitter" href="#"></a></li>
						<li><a class="icon-link round dribble" href="#"></a></li>
					</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
	</div>
</div>
<!-- header -->
<!-- banner -->
<div class="banner">
	<div class="container">
		<div class="banner-info">
			<h1 class="animated fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">Miễn phí giao hàng khi order online.<span><br><h3>Số điện thoại : 0168 808 3955</h3></span>
    </h1>
			<div class="banner-info1 animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<ul id="flexiselDemo1">
					<li>
						<div class="banner-info1-grid">
							<img src="images/che_thap_cam.jpg" alt=" " class="img-responsive" />
							<h3>Chè thập cẩm</h3>
							<p>Tổng hợp của nhiều loại chè như chè đậu xanh dừa, chè đậu đỏ, chè bột lọc... Mỗi thứ múc một tý cho vào ly, thêm nước đá, thêm tý cốt dừa.</p>
						</div>
					</li>
					<li>
						<div class="banner-info1-grid">
							<img src="images/banh_troi_tau.jpg" alt=" " class="img-responsive" />
							<h3>Bánh trôi tàu</h3>
							<p>Vị cay của gừng hoà với nước đường sánh kèm theo vị thơm của hạt vừng rang, vị bùi và dai của vỏ bánh bằng gạo nếp cùng với vị ngọt của nhân đậu xanh.</p>
						</div>
					</li>
					<li>
						<div class="banner-info1-grid">
							<img src="images/xoi_che.jpg" alt=" " class="img-responsive" />
							<h3>Xôi chè</h3>
							<p>Thưởng thức xôi chè với vị ngọt đậm của đường, cái dẻo kẹo của gạo nếp và vị bùi của đỗ, hòa quyện lại khiến lòng người nhớ mãi.</p>
						</div>
					</li>
				</ul>
					<script type="text/javascript">
						$(window).load(function() {
							$("#flexiselDemo1").flexisel({
								visibleItems: 3,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 3000,
								pauseOnHover: true,
								enableResponsiveBreakpoints: true,
								responsiveBreakpoints: {
									portrait: {
										changePoint:480,
										visibleItems: 1
									},
									landscape: {
										changePoint:640,
										visibleItems:2
									},
									tablet: {
										changePoint:768,
										visibleItems: 2
									}
								}
							});

						});
				</script>
				<!-- <div class="more wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
					<a class="hvr-curl-bottom-right">10K</a>
				</div> -->
			</div>
		</div>
	</div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="container">
		<div class="banner-bottom-grids">
			<div class="col-md-5 banner-bottom-grid wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h2>Chè thập cẩm</h2>
				<p>"Trong những ngày nắng nóng, được thưởng thức một bát chè thập cẩm vị Huế bùi bùi, ngon ngon thật tuyệt vời biết bao. Bát chè thập cẩm ngon ở hương vị hài hòa, ăn nhiều mà không ngán bởi nó có nhiều loại nguyên liệu khác nhau. Không chỉ được coi là một trong các món chè ngon, lôi cuốn mà chè thập cẩm còn rất bổ dưỡng."</p>
				<div class="more">
					<a class="hvr-curl-bottom-right">10K</a>
				</div>
			</div>
			<div class="col-md-7 banner-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="banner-bottom-grid1">
					<img src="images/che_thap_cam_1.jpg" alt=" " class="img-responsive" />
					<div class="banner-bottom-grid-pos">
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
							<span class="sr-only">30% Complete</span>
						  </div>
						</div>
						<div class="progress progress1">
						  <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
							<span class="sr-only">20% Complete</span>
						  </div>
						</div>
						<div class="progress progress2">
						  <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
							<span class="sr-only">30% Complete</span>
						  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
    <hr size="100"><br><br>
    <div class="newsletter-bottom-grids">
			<div class="col-md-6 newsletter-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
				<img src="images/banh_troi_tau_1.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-6 newsletter-bottom-grid  wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>Bánh trôi tàu</h3>
				<p>"Bánh trôi ngon phải được làm từ gạo nếp cái hoa vàng, hạt tròn lẳn, trắng đục, thơm đều mùi gạo mới, được đem vo sạch, ngâm nước rồi đem xay nhuyễn trong cối xay, qua bàn tay nhào nặn của người thợ, từng cục bột mịn màng và mềm dẻo được nặn viên vừa ăn. Nhân bánh trôi thường được làm bằng đường mật xắt miến."</p>
				<div class="more">
					<a class="hvr-curl-bottom-right">10K</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //banner-bottom -->
<!-- newsletter -->
<div class="newsletter">
	<div class="container">
		<div class="newsletter-info">
			<h3 class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">Chè cô Hương</h3>
			<p class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">Nhập email để nhận thông tin cập nhật</p>
			<form class="wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
				<input type="mail" value="Gửi cho tôi email của bạn" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Gửi cho tôi email của bạn';}" required="">
				<input type="submit" value="Gửi">
			</form>
		</div>
	</div>
</div>
<!-- //newsletter -->
<!-- newsletter-bottom -->
<div class="newsletter-bottom">
	<div class="container">
		<div class="newsletter-bottom-grids">
			<div class="col-md-6 newsletter-bottom-grid wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>Xôi chè</h3>
				<p>"Trong ẩm thực Việt Nam, món chè có thể được coi là một nét văn hóa đặc trưng của những món ăn chơi, tráng miệng, với sự đa dạng phong phú khó mà kể hết. Ở mỗi vùng miền, món chè đều có sắc thái rất riêng của địa phương. Ẩm thực Hà Nội cũng vậy, món xôi chè có thể coi là một trong những món ngọt khá tinh túy và kinh điển, bởi nó không chỉ giản dị thanh đạm, mà còn đậm nét văn hóa ẩm thực khá thi vị của Hà thành, đã có từ bao nhiêu năm."</p>
				<div class="more">
					<a class="hvr-curl-bottom-right">10K</a>
				</div>
			</div>
			<div class="col-md-6 newsletter-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
				<img src="images/xoi_che_1.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- <div class="newsletter-bottom-grids">
			<div class="col-md-6 newsletter-bottom-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
				<img src="images/5.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-6 newsletter-bottom-grid  wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>At vero eos et accusamus et iusto odio</h3>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
					accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
					ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
					explicabo.</p>
				<div class="more">
					<a class="hvr-curl-bottom-right">10K</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div> -->
	</div>
</div>
<!-- //newsletter-bottom -->

<!-- contact -->
<div class="contact">
	<div class="container">
		<h1 class="animated fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">Bản đồ</h1>
		<div class="contact-bottom wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.734593442905!2d105.84252237364232!3d21.006134455367313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac76ccab6dd7%3A0x55e92a5b07a97d03!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBraG9hIEjDoCBO4buZaQ!5e0!3m2!1svi!2sin!4v1462332627728"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-md-4 contact-left wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
			<h4>Địa chỉ:</h4>
			<h2>Tạ Quang Bửu, Gần đại học Bách Khoa Hà Nội.
				<span>Bách Khoa, Hai Bà Trưng - Hà Nội, VN</span></h2>
			<ul>
				<li>Liên hệ : 0168 808 3955</li>
				<li>Email : <a href="mailto:minhtuan.techno@gmail.com">minhtuan.techno@gmail.com</a></li>
			</ul>
		</div>
		<div class="col-md-8 contact-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
			<h4>Gửi nhận xét</h4>
			<form>
				<input type="text" value="Tên" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tên';}" required="">
				<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
				<input type="text" value="Số điện thoại" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Số điện thoại';}" required="">
				<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nội dung...';}" required="">Nội dung...</textarea>
				<input type="submit" value="Gửi" >

			</form>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //contact -->

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="footer-grids">
			<div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>Về chúng tôi</h3>
				<div class="footer-grd-left">
					<img src="images/6.jpg" class="img-responsive" alt=" " />
				</div>
				<div class="footer-grd-left">
					<p>Cam kết mọi thứ cung cấp đến bạn đều là thực phẩm sạch làm thủ công, không có bắt kỳ một điều gì cần suy nghĩ về tính sạch sẽ của sản phẩm.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>Thực đơn</h3>
				<ul>
					<li><a >Chè thập cẩm</a></li>
					<li><a >Xôi chè</a></li>
					<li><a >Bánh trôi tàu</a></li>
          <li><a >...</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>Giao hàng</h3>
				<ul>
					<li><a >Nhận đặt hàng qua điện thoại</a></li>
					<li><a >Giao hàng miễn phí</a></li>
					<li><a >Thời gian giao hàng nhanh</a></li>
					<li><a >Đảm bảo về chất lượng hàng được giao</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h3>Hình ảnh</h3>
				<div class="footer-grd">
					<a href="#"><img src="images/7.jpg" class="img-responsive" alt=" " /></a>
				</div>
				<div class="footer-grd">
					<a href="#"><img src="images/8.jpg" class="img-responsive" alt=" " /></a>
				</div>
				<div class="footer-grd">
					<a href="#"><img src="images/7.jpg" class="img-responsive" alt=" " /></a>
				</div>
				<div class="clearfix"> </div>
				<div class="footer-grd">
					<a href="#"><img src="images/8.jpg" class="img-responsive" alt=" " /></a>
				</div>
				<div class="footer-grd">
					<a href="#"><img src="images/7.jpg" class="img-responsive" alt=" " /></a>
				</div>
				<div class="footer-grd">
					<a href="#"><img src="images/8.jpg" class="img-responsive" alt=" " /></a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="footer-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
	<div class="container">
		<p>&copy 2016. All rights reserved | Customize by <a href="http://w3layouts.com/"> Tuan LM</a></p>
	</div>
</div>
